/* BASIC STYLES HERE */

main {
  background-color: #88CDDD;
}

label {
  display: block;
}

.paper-bg {
  background-image: url('https: //i.pinimg.com/originals/75/72/d7/7572d7a7f463c9e17b1e31c10a6eeaf2.jpg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.birdBtn {
  font-size: 80px;
}


.birdImg {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.birdShadow {
  box-shadow: 5px 5px 5px yellow;
  border: 3px solid black;
  background-color: rgb(114, 187, 232);
  height: 250px;
}